Original DataFrame:
      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   30    London   60000
2  Charlie   35     Paris   55000
3    David   28     Tokyo   65000


DataFrame Info:
Shape: (4, 4)
Average Age: 29.5
Total Salary: $230,000


People older than 28:
      Name  Age    City  Salary
1      Bob   30  London   60000
2  Charlie   35   Paris   55000


DataFrame with Bonus column:
      Name  Age      City  Salary   Bonus
0    Alice   25  New York   50000  5000.0
1      Bob   30    London   60000  6000.0
2  Charlie   35     Paris   55000  5500.0
3    David   28     Tokyo   65000  6500.0